.picture-like-container{
    width: 200px;
}

.image-div{
    position: relative;
    text-align: center;
}
.imgText{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img{
    width: 100px;
}

.grayed-out{
    opacity: 0.4;
}