.picture-like-container{
    width: 320px;
}

.image-div{
    position: relative;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 5px;
}
.imgText{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img{
    width: 95%;
    height: auto;
}

.grayed-out{
    opacity: 0.4;
}